body{
    font-size: 18px;
    margin: auto;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    color: #515555;
}

nav{
    border-bottom: 2px solid #c0bbba;
}

.container{
    /* border: 2px solid blue; */
    width: 80%;
}

.socialicon img{
    height: 30px;
    text-decoration-line: none;
}

header{
    height: 100px;
}

.new-recipes{
    /* border: 2px solid rgb(15, 13, 35); */
    width: 94%;
    margin: 3%;
    margin-bottom: 0;
}

.New-RecipeContainer{
    /* border: 2px solid rgb(244, 19, 52); */
    width: 82%;
    margin: 9%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.Recipecontainer{
    /* border: 2px solid #cfc0c0; */
    width: 22%;
    height: 430px;
    margin: 1%;
}

.heading-center{
    text-align: center;
    font-size: 1.625em;
    font-weight: 300;
    line-height: 1.3;
}

.heading-recipe{
    text-align: center;
    font-size: 1em;
    font-weight: 350;
    line-height: 1.6;
    color:#ba4e2f;
    margin-top: 15px;
}

.image{
    height: 330px;
}

.recipeimage img{
    width: 100%;
    height: 100%;
}

.text{
    height: 130px;
}

.read{
    text-align: right;
    width: 100%;
}

.recipe-here{
    text-decoration: underline;
    color:#ba4e2f;
    font-weight: 600;
}

.heading-cdr{
    margin-left: 10px;
}

.subscribe-detail{
    border: 2px solid rgba(180, 180, 180, 0.845);
    width: 95%;
    margin: 1rem;
    border-radius: 5px;
}

.subscribe-p,
.form-check{
    text-align: center;
    width: 100%;
    margin: 0.5em 0 0.5em;
    font-size: 1em;
    line-height: 1.5em;
}

.row{
    /* border: 2px solid rgba(59, 40, 203, 0.845); */
    width: 95%;
    margin-left: 3%;
    margin-right: 2%;
}

.form-control{    
    height: 40px;
    width: 100%;
}

.form-group{
    width: 80%;
}

.form-sbtn{
    width: 100px;
    /* border: 2px solid rgba(59, 40, 203, 0.845); */
}

.form-check{
    margin-top: 10px;
    font-size: 12px;
}

.btn{
    background-color: #ba4e2f;
    color: white;
}

form{
    width: 100%;
    display: inline;
    flex-wrap: wrap;
}

.about-shortdetail{
    /* border: 2px solid rgb(153, 156, 153); */
    width: 100%;
    margin-top: 2rem;
    display: flex;
    background-color: #f2f2f2;
}

.shortmyimage{
    /* border: 2px solid rgb(169, 12, 180); */
    width: 20%;
    margin: 2%;
}

.shortmyimage img{
    border-radius: 50%;
    width: 100%;
}

.shortmytext{
    /* border: 2px solid rgb(169, 12, 180); */
    width: 70%;
    margin-left: 3%;
    margin-right: 3%;
    display: block;
    margin: 2%;  
}

.about-shortchristina{
    font-weight: 300;
    line-height: 1.3;
    font-size: 1.625em;
}

.about-shorttext{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2em;
}

.findme{
    color:#ba4e2f;
}

.learnmore{
    color:#ba4e2f;
    font-weight: 600;
    float: right;   
}

.recipe-search{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.form-control{   
    padding: 13px;
}

footer{
    /* border: 2px solid   green; */
    align-items: center;
}

.backtotop{
    width: 100%;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 3.5%;
}

.privacy-signup{
    /* border: 2px solid   green; */
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.ppolicy,
.signup,
.faq{
    width: 45%;
    /* border: 2px solid rgba(0, 19, 128, 0.882); */
    text-align: center;
}

.copyright{
    width: 100%;
    font-size: 18px;
    text-align: center;    
}

.crdft{
    font-weight: 500;
}

.copy{
    height: 100px;
    margin: 2%;
    /* border: 2px solid rgba(0, 19, 128, 0.882); */
}

@media screen and (max-width:1500px) {
    body{
        /* background-color: #4e5507; */
    }
    .New-RecipeContainer{
        width: 86%;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media screen and (max-width:1400px) {
    body{
        /* background-color: #39eb7a; */
    }
    .New-RecipeContainer{
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media screen and (max-width:1300px) {
    body{
        /* background-color: #10d0e6; */
    }
    .New-RecipeContainer{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (max-width:1200px) {
    body{
        /* background-color: #16194f; */
    }
    .New-RecipeContainer{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (max-width:1100px) {
    body{
        /* background-color: #d415e5; */
    }
    .New-RecipeContainer{
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .Recipecontainer{
        width: 22%;
        height: 350px;
    }    
    .image{
        height: 220px;
    }
    .shortmyimage{
        /* border: 2px solid rgb(169, 12, 180); */
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width:1000px) {
    body{
        /* background-color: #ede102; */
    }
    .New-RecipeContainer{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .Recipecontainer{
        width: 22%;
        height: 330px;
    }    
    .image{
        height: 200px;
    }   
}

@media screen and (max-width:900px) {
    body{
        /* background-color: #b18f90; */
    }
    .New-RecipeContainer{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .Recipecontainer{
        width: 22%;
        height: 330px;
    }    
    .image{
        height: 200px;
    }
}

@media screen and (max-width:800px) {
    body{
        /* background-color: #fa0606a9; */
    }
    .New-RecipeContainer{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Recipecontainer{
        width: 23%;
        height: 330px;
    }    
    .image{
        height: 200px;
    }
    .shortmyimage{
        margin-top: 18%;
        margin-bottom: 13%;
    }
}

@media screen and (max-width:700px) {
    body{
        /* background-color: #fe26d3; */
    }
    .New-RecipeContainer{
        width: 86%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .Recipecontainer{
        width: 48%;
        height: 400px;
    }   
    .image{
        height: 300px;
    }
    .about-shortdetail{
       
        display: block;
    }
    .shortmyimage{
        width: 100%;
        margin: 0%;
        height: 200px;
    }
    .shortmyimage img{
        width: 40%;
        height: 200px;
        margin-left: 30%;
        margin-right: 30%;
    }
    .shortmytext{
        width: 100%;
        margin: 0%;
        display: block;
    
    }
    .form-group,
    .form-sbtn{
        /* border: 5px solid green; */
        width: 100%;
    }
    .form-control{
        width: 100%;

    }
    .btn{
        margin-top: 2%;
        width: 100%;
    }
    .privacy-signup{
        display: block;
    }
    .ppolicy,
    .signup,
    .faq{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    body{
        /* background-color: #7e0781; */
    }
    .New-RecipeContainer{
        width: 90%;
        margin-left:5%;
        margin-right: 5%;
    }
    .Recipecontainer{
        width: 48%;
        height: 400px;
    }   
    .image{
        height: 300px;
    }
    .shortmyimage{
        width: 100%;
        margin: 0%;
        height: 180px;
    }
    .shortmyimage img{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        height: 180px;
    }
}

@media screen and (max-width:500px) {
    body{
        /* background-color: #723fc5; */
    }
    .New-RecipeContainer{
        width: 96%;
        margin-left:2%;
        margin-right: 2%;
    }
    .Recipecontainer{
        width: 48%;
        height: 400px;
    }   
    .image{
        height: 300px;
    }
}
